<center><h1><%= @project.name %> Details</h1></center>
<hr>
<h2>Total count of items for this project and the items average cost.</h2>
<p><strong>Item Count:</strong> <%= @project.total_items %></p>
<p><strong>Average Cost:</strong> $<%= @project.average_item_cost %></p>
