<center><h1>Item Details</h1></center>
<hr>
<p><strong>Item:</strong> <%= @item.name %></p>

<p><strong>Cost:</strong> <%= @item.cost %></p>
<p><strong>Assigned Project:</strong> <%= @item.project.name %></p>
<hr>
<p><strong>Number of manufacturers for this item:</strong> <%= @item.manufacturer_count %></p>
