<center><h1>All Manufacturers and Their Items</h1></center>
<% @manufacturers.each do |manufacturer| %>
<hr>
  <div id="manufacturer-<%= manufacturer.id %>">
    <p><strong>Manufacturer:</strong> <%= manufacturer.name %></p>
    <h4>Items:</h4>
    <ul>
      <% manufacturer.items.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  </div>
<hr>
<% end %>
